<div class="card-productos">
            <h2>Seleccione una tarea</h2>
            
            <div class="tareas">
                <a href="./productos" class="buscarProduct"><button>Buscar producto</button></a>
                <a href="./productos" class="modificarProducto"><button>Modificar producto</button></a>
                <a href="./productos" class="borrarProduct"><button>Borrar producto</button></a>
            </div>
</div>