<div class="container chat">
    <form id="enviarMsj">
        <div class="form-header">
            <h2>Bienvenido al chat</h2>
            <p>Escriba en el chat: </p>
        </div>
        <div id="mensaje">
        <label for="msj">Mensaje:</label>
        <input id="msj" type="text" class="form-control" name="msj" placeholder="mensaje..." required>
        <button type="submit">Enviar</button>
        </div>
    </form>
</div>