<div class="container">

    <form id="deleteProduct" >
        <div class="form-header">
            <h2>Buscar producto </h2>
        </div>

        <label for="Nombre">ID</label>
        <input id="id" type="text" class="form-control" name="id" placeholder="id" required>

        <button type="submit">Enviar</button>

    </form>

</div>


<script src="../../js/adminProduct.js"></script>
