<div class="container">

    <form id="newUser" >
        <div class="form-header">
            <h2>Ingrese sus datos </h2>
        </div>

        <label for="Nombre">Nombre:</label>
        <input id="nombre" type="text" class="form-control" name="nombre" placeholder="Nombre" required>


        <label for="Email">Email:</label>
        <input id="email" type="text" class="form-control" name="email" placeholder="Email" required>

        <label for="Password">Password:</label>
        <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>


        <button type="submit">Enviar</button>

    </form>

</div>
<script src="../../js/register.js"></script>